.cartDropDown{
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 80px;
    right: 50px;
    z-index: 5;
    

    .cartItems{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow-x: hidden;
        -ms-overflow-style: none;



    }

    button{
        margin-top: auto;
    }


    .logo{
        margin: 50px auto;
        width: 130px;
        opacity: 0.3;
    }
}
